.jumbotron.jumbotron-fluid.hero.text-center
  .container
    h2
      i.fa.fa-book.fa-2x.fa-inverse(aria-hidden='true')
    h1.display-4 Book Trading Club
    p.lead Have old books you want to trade and looking for new books to read?
