extends components/layout.pug

block append styles
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/jquery.responsive-tabs/1.6.1/responsive-tabs.css')
  link(rel='stylesheet', href='public/css/dashboard.css')

block content
  .spacer
  div.container
    h1= 'Dashboard'
    .spacer
    #dashboard-nav
      ul.nav.nav-tabs.mb-3
        li.nav-item
          a.nav-link(href='#tab-1') My Books
        li.nav-item
          a.nav-link(href='#tab-2') Your trade requests
        li.nav-item
          a.nav-link(href='#tab-3') Trade requests for you
      #tab-1
        include components/addBook.pug
        .spacer
        #allbooks
      #tab-2
        .row
          .col
            .card
              .card-body
                button.close(type='button', data-toggle='tooltip' data-placement='bottom', title='Cancel request')
                  span &times;
                h4.card-title [Book Title]
                p Awaiting response for your trade request.
      #tab-3
        .row
          .col
            .card
              .card-body
                button.close(type='button', data-toggle='tooltip' data-placement='bottom', title='Cancel request')
                  span &times;
                h4.card-title [Book Title]
                p Awaiting your response.
                button.btn.btn-success Approve
                button.btn.btn-danger Decline

block append scripts
  script(src='https://cdn.jsdelivr.net/jquery.responsive-tabs/1.6.1/jquery.responsiveTabs.min.js', charset='utf-8')
  script(src='common/ajax-functions.js')
  script(src='controllers/dashboardController.client.js')
  script(src='controllers/libraryController.client.js')
