extends components/layout.pug

block append styles
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/jquery.responsive-tabs/1.6.1/responsive-tabs.css')
  link(rel='stylesheet', href='public/css/dashboard.css')

block content
  .spacer
  div.container
    h1= 'Dashboard'
    .spacer
    #dashboard-nav
      ul.nav.nav-tabs.mb-3
        li.nav-item
          a.nav-link.active(href='#tab-1') My Books
        li.nav-item
          a.nav-link(href='#tab-2') Your trade requests
        li.nav-item
          a.nav-link(href='#tab-3') Trade requests for you
      #tab-1
        include components/addBook.pug
        .spacer
        include components/allBooks.pug
      #tab-2
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      #tab-3
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

block append scripts
  script(src='https://cdn.jsdelivr.net/jquery.responsive-tabs/1.6.1/jquery.responsiveTabs.min.js', charset='utf-8')
  script(src='common/ajax-functions.js')
  script(src='controllers/dashboardController.client.js')
