extends components/layout.pug

block content
  .spacer
  div.container
    h1= 'Dashboard'
    hr
    h2= 'Requests'
    hr
    include components/requests.pug
    .spacer
    h2= 'My Books'
    hr
    p.lead= 'Add a book'
    include components/addBook.pug
    .spacer
    #allbooks
block append scripts
  script(src='common/ajax-functions.js')
  script(src='controllers/libraryController.client.js')
