extends components/layout.pug

block content
  include components/hero.pug
  .container
    h2.text-center.mb-3 Features
    ul.list-unstyled.feature-list.text-center.mb-5
      li
        a(href='#') Catalogue your books online
      li
        a(href='#') See all of the books our users own
      li
        a(href='#') Request to borrow other users' books
      li
        a(href='#') Easily manage books and requests from your dashboard
