extends components/layout.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-3 Fluid jumbotron
      p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.
  div.container
    h1= 'This is the home page'
