extends components/layout.pug

block content
  .spacer
  div.container
    include components/requests.pug
    .spacer
    h1= 'All Books'
    p= 'Click the '
      i(class='fa fa-retweet')
      |  button to request a trade.
    hr
    .spacer
    #allbooks

block append scripts
  script(src='common/ajax-functions.js')
  script(src='controllers/libraryController.client.js')
