extends components/layout.pug

block content
  div.container
    h1.mt-5= 'Login'
    hr
    a(href='/auth/github')
      #login-btn.btn.mx-0
        img(src='/public/img/github_32px.png', alt='github logo')
        p LOGIN WITH GITHUB
