extends components/layout.pug

block content
  include components/hero.pug
  div.container
    .row.justify-content-md-center
      .col.col-lg-6
        h1.mt-5= 'Sign up'
        hr
        form
          .form-group
            label(for='name') Name
            input.form-control(type='text')
          .form-group
            label(for='emailaddress') Email address
            input.form-control(type='email')
          .form-group
            label(for='password') Password
            input.form-control(type='password')
          .form-group
            label(for='password') Confirm password
            input.form-control(type='password')
          button.btn.btn-primary(type='submit') Register
